.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: 98px 50px 98px 50px;
}

.header__menu {
    display: flex;
    z-index: 1;
}

.header__links-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 32px;
    font-size: 18px;
}

.header_links-list-item {
    position: relative;
}

.header_links-list-item::before {
    position: absolute;
    left: -19px;
    content: '◦';
    text-align: center;
    font-size: 28px;
    padding-right: 11px;
    line-height: 23px;
}

.header_links-list-item.header__links-list-item_no-bullit::before {
    content: '';
    padding-right: 0;
}

.header__link {
    text-decoration: none;
    text-wrap: nowrap;
    border-bottom: 1px solid #000000;
    letter-spacing: 0.1px;
}

.header__link.header__link_active {
    border-bottom: 0;
}

.header__logo {
    position: absolute;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 0;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    width: 240px;
    z-index: 1;

    font-size: 18px;
}

.address {
    text-wrap: wrap;
    line-height: 24px;
    font-style: normal;
}

.address a {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.cover {
    position: relative;
    background-image: url(./../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 165px;
    padding-bottom: 51px;
    padding-right: 50px;
    padding-left: 50px;

    color: #fff;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 0;
}

.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    z-index: 1;
}

.aligned-text {
    width: 100%;
    display: block;
    line-height: 115%;
    letter-spacing: 0.3em;
}

.aligned-text.aligned-text_center {
    position: relative;
    text-align: center;
    line-height: 100%;
    left: -15px;
}

.aligned-text.aligned-text_right {
    text-align: right;
    line-height: 100%;
}

.letter-spacing-0 {
    letter-spacing: 0;
}

.letter-spacing-6 {
    letter-spacing: 0.6em;
}

.letter-spacing-8 {
    letter-spacing: 0.8em;
}

.letter-spacing-9 {
    letter-spacing: 0.9em;
}

.letter-spacing-11 {
    letter-spacing: 1.1em;
}

.cover__description {
    padding-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    padding-left: 28px;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
}

.bet-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    color: #fff;

    text-transform: uppercase;

    font-size: 22px;
    padding-left: 32px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;

    letter-spacing: 0;
}

.lots {
    padding-top: 180px;
    padding-left: 24px;
    padding-right: 24px;
}

.lots__heading {
    padding-left: 40px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    column-gap: 25px;
    padding-bottom: 30px;
}

.lots__card-list-item {
    flex: 1;
}

.card-link {
    height: 563px;
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.back-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    position: relative;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #fff;
    z-index: 1;
}

.film {
    background-image: url(../images/card-lot-01.jpg);
}

.book {
    background-image: url(../images/card-lot-02.jpg);
}

.picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 120%;
    font-weight: bold;
    font-size: 22px;
}

.card__text {
    font-size: 20px;
    line-height: 1.2em;
}

.lots__look-more-link {
    font-size: 20px;
    padding-left: 40px;
}

.lots__look-more-link span {
    display: inline-block;
    border-bottom: 1px solid black;
    line-height: 1.2em;
}

.about {
    padding-top: 181px;
    display: flex;
    column-gap: 72px;
    padding-left: 24px;
    padding-right: 24px;
}

.about__column {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.about__column--logo {
    padding-left: 47px;
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    position: relative;
    width: 240px;
    height: 240px;
}

.about__logo-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 114px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 103px;
}

.about__text {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 180px;
    padding-bottom: 88px;
}

.footer__address {
    width: 240px;
    font-size: 18px;
}

.footer__menu-list {
    display: flex;
    align-items: center;

    flex-direction: column;
    list-style-type: none;
}

.footer__menu-link {
    text-decoration: none;
    text-wrap: nowrap;
    border-bottom: 1px solid #000000;
    font-size: 18px;
}

.footer__menu-link.footer__menu-link_active {
    border-bottom: 0;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style-type: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}
